{% extends "adminportal.html" %}
                            {% block content %}
                            <style> tr{color: black;} </style><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Type</th>
      <th>Allocation</th>
      <th>Available</th>
      <th>Term</th>
      <th>Months-To-Pay</th>
      <th>Interest</th>
      <th>Concentrations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Agriculture</td>
      <td>200000</td>
      <td>500</td>
      <td>Long</td>
      <td>60</td>
      <td>25</td>
      <td>0.000004</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Education</td>
      <td>200000</td>
      <td>50000</td>
      <td>Short</td>
      <td>6</td>
      <td>25</td>
      <td>0.036647</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Finance Institutions</td>
      <td>200000</td>
      <td>25000</td>
      <td>Short</td>
      <td>12</td>
      <td>25</td>
      <td>0.009162</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Individuals</td>
      <td>200000</td>
      <td>98000</td>
      <td>Short</td>
      <td>24</td>
      <td>25</td>
      <td>0.140783</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Mining</td>
      <td>200000</td>
      <td>120000</td>
      <td>Long</td>
      <td>60</td>
      <td>25</td>
      <td>0.211087</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Services</td>
      <td>200000</td>
      <td>133000</td>
      <td>Short</td>
      <td>24</td>
      <td>25</td>
      <td>0.259300</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Tourism</td>
      <td>200000</td>
      <td>150000</td>
      <td>Long</td>
      <td>60</td>
      <td>25</td>
      <td>0.329824</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Other</td>
      <td>200000</td>
      <td>30000</td>
      <td>Short</td>
      <td>24</td>
      <td>25</td>
      <td>0.013193</td>
    </tr>
  </tbody>
</table><p style="color:red" >Concentration Index : <strong> {{cindex}} </strong></p>{% endblock %}