{% extends "portal.html" %}
                            {% block content %}
                            <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Surname</th>
      <th>DOB</th>
      <th>ID</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>theophilus</td>
      <td>okoye</td>
      <td>None</td>
      <td>70J70</td>
      <td>Flat 1 53 Magamba Way</td>
      <td>263783620957</td>
      <td>theophilusokoye6@gmail.com</td>
    </tr>
  </tbody>
</table>{% endblock %}