{% extends "userportal.html" %}
                            {% block details %}
                            <style> tr{color: black;} </style><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Name</th>
      <th>Surname</th>
      <th>ID</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>james</td>
      <td>doe</td>
      <td>50b50</td>
      <td>47 Castens Ave</td>
      <td>263785948948</td>
      <td>jd@gmail.com</td>
    </tr>
  </tbody>
</table><style> tr{text-align: left;}{% endblock %}