{% extends "home.html" %}
{% block content %}

<link href="../static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/styles/mystyle.css" rel="stylesheet" type="text/css" media="all">

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content">

      <h1><b>Schedule of Rates and Fees</b></h1>

      <h1>Fees</h1>

      <h3>Interest</h3>
<p>
Loan Portal provides loans at an annual interest rate from 19.95% to 29.95% per annum.
The rate that applies to your loan will be based on a range of factors including your circumstances, credit history with us or others, the security you can provide and the loan amount.
Once set, our interest rate is fixed for the term of your loan.
</p>

<h3>Default Interest rate</h3>

<p>
  f you get behind in your loan repayments, then we may charge a default interest rate on any overdue loan payments, while they are unpaid. The Default rate that we charge is 10% per annum above the Interest Rate that normally applies to your loan.
</p>

<h3>Terms</h3>

<p>
  Loan terms are normally over a maximum term of three years from 1 month
</p>

<h2>Fees</h2>

<table>
  <th>

  </th>
</table>
    </div>

    <div class="clear"></div>
  </main>
</div>

<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/jquery.backtotop.js"></script>
<script src="../static/scripts/jquery.mobilemenu.js"></script>
<!-- Footer Background Image Wrapper -->
{% endblock %}
