<!DOCTYPE html>
<html>
<head>
<title>services</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/styles/mystyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><i class="fa fa-phone"></i> +263 775 531 297</li>
        <li><i class="fa fa-envelope-o"></i> info@loanportal.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('about')}}">Contact</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('how_to_apply')}}">Register</a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../static/images/demo/backgrounds/1.jpg');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="home.html">Loan Management portal</a></h1>
      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a  href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('fees')}}">Fees</a></li>
          <li><a href="{{url_for('how_to_apply)}}">How to apply</a></li>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->

      <p>
        <h1>Our Services</h1>

        <p>We are a fully integrated loan servicing company, with services that span across the full life-cycle of the loan: from loan origination through pay off. This includes:.</p>
 <img class="imgr borderedbox inspace-5" src="../static/images/demo/backgrounds/6.jpg">
        <li>Collecting monthly payments from the borrower</li>
      <li>Sending the lender monthly statements</li>
      <li>Maintaining records of payments and balances</li>
      <li>Collecting and paying taxes</li>
      <li>Paying insurance</li>
      <li>Managing escrow and impound funds</li>
      <li>Preventing loan delinquency</li>
      <li>Managing delinquent loans</li>
    <div>

  <div class="Process">

          <h1>Our Loan Servicing Process</h1>
                <p>Once investors contact us with a loan that needs to be serviced:</p>

            <li>We contact the Borrower and provide them with all the necessary information to make payments</li>

                <li>We offer Borrowers a wide range of payment options, from ACH (Direct Deposit), to checks, phone and online payments</li>

              <li>We provide ongoing customer service to the borrower so our Lenders can focus on their core activities</li>

                <li>Once we receive payment from the Borrower, we send the Lender the payment along with a monthly statement and other report</li>

            <li>We originate, manage and keep all loan documentation, including statements, insurance documentation, etc.</li>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- Footer Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../static/images/demo/backgrounds/footer.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="one_quarter">
        <h6 class="title">Contact Us</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            47 Castens  Road&amp; Belevedere, harare,
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +263 775  531 297<br>
            +263 773 009 889</li>
          <li><i class="fa fa-fax"></i> +263 4 561 567</li>
          <li><i class="fa fa-envelope-o"></i> info@loanportal.com</li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved </p>
      <p class="fl_right">  Developed by Ronny</p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Footer Background Image Wrapper -->

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- End Footer Background Image Wrapper -->

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/jquery.backtotop.js"></script>
<script src="../static/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
